html, body {
  margin: 0;
  padding: 0;
}

nav-inner ul {
  list-style: none;
  padding: 0;
  margin: 0 2rem;

  height: 60px;

  display: flex;
  align-items: center;
  gap : 2rem;
}

.nav-inner a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}