/* ------------- Bildschirm-Stil ------------- */
@media screen {

  body {
    background-color: white;
    color: black;
  }

.title-main {
  text-align: center;
}

.title-section {
  margin-top: 2rem;
}
.site-footer {
  text-align: center;   /* damit alles in der mitte ist/
  margin-top: 4rem;     /* abstand nach oben damit das mit nix colidiert */
  padding: 1rem 0;      /* platz im footer allgemein */
  font-size: 0.9rem;    /* leicht kleinere Schrift */
  color: #555;          /* dunkles Grau */
}


  table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 6px;
  }
.nav-iframe {
  width: 100%;
  height: 100%;

  border: none;
  display: block;
}


.site-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background-color: #2f3e4e;
  z-index: 1000;
}


.top-nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: #2f3e4e;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
  z-index: 1000;
}


  /* iframe, navigation, restliche Styles */
}
@media print {

  iframe,
  nav {
    display: none;
  }


  body {
    background-color: white;
    color: black;
  }

  img {
    max-width: 120px;
  }
}
