/* ------------- Bildschirm-Stil ------------- */
@media screen {

  body {
    background-color: white;
    color: black;
  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 6px;
  }
.navframe {
    border: none;
    width: 250px;
    height: 400px;
}

  /* iframe, navigation, restliche Styles */
}
@media print {

  iframe,
  nav {
    display: none;
  }


  body {
    background-color: white;
    color: black;
  }

  img {
    max-width: 120px;
  }
}
